.bookListBox{
     & > span{
         // display: inline-block;
          margin-bottom: 2.5rem;
          display: block;
         text-align: end;
     } 
}


.bookList{
     display: grid;
     grid-template-columns: 1fr;
     gap: 2.1875rem   4.375rem ;

     @media (min-width:960px){
          grid-template-columns: repeat(2,1fr);
     }
     
}