%title{
     font-family: var(--font-primary);
     font-weight: 700;
     line-height: 1.4;
}

.title1 {
     @extend %title ;
     font-size: 2.5rem;
}

.title2 {
     @extend %title;
     font-size: 1rem;
}

%text{
     font-family: var(--font-secundary);
     font-weight: 400;
     font-size: .0625rem;
     color: var(--color-black);
     
     &.white{
          color: var(--color-white);
}

}

.paragraph{
     @extend %text;
     
     font-size: 1rem;
     
     &.bold, strong{
          font-weight: 700;
     }
}

.label{
     font-size: .875rem;
}