.filterBox{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     align-items: center;
     gap: 2.8125rem;
     margin-bottom: 20px;

//     @media(max-width:720){
//      width: 100vw;
//      background-color: black;
//     }
}